<launch>
	<arg name="training_file" default="$(find pose_feature_vector)/poseData/data3_nh.csv" />
	<arg name="launch_kinect" default="true"/>

	<include if="$(arg launch_kinect)" file="$(find openni_launch)/launch/openni.launch" >
		<arg name="depth_registration" value="true"/>
	</include>

	<node name="openni_tracker" pkg="openni_tracker" type="openni_tracker" respawn="true" output="screen">
        <param name="camera_frame_id" value="camera_depth_optical_frame"/>
	</node>

	<node name="parse_tf_to_fv" pkg="pose_feature_vector" type="parseTFToFV.py" output="screen"/>

	<node name="detect_pose" pkg="pose_feature_vector" type="detect_pose.py" args="$(arg training_file)" output="screen"/>


</launch>