<launch>

	<arg name="x" default="0" />
	<arg name="y" default="0" />
	<arg name="z" default="0" />
	<arg name="qx" default="0" />
	<arg name="qy" default="0" />
	<arg name="qz" default="0" />
	<arg name="qw" default="1.0" />
	<include file="$(find openni_launch)/launch/openni.launch">
        <arg name="depth_registration" value="true" />
    </include>

    <node name="kinect_transformer" pkg="tf" type="static_transform_publisher" 
    	args="$(arg x) $(arg y) $(arg z) $(arg qx) $(arg qy) $(arg qz) $(arg qw) /world /camera_link 10" />

    <node name="object_detection" pkg="object_recognition_core" type="detection" output="screen" 
    	args="-c $(find object_recognition_tabletop)/conf/detection.object.ros.ork" />

    <include file="$(find baxter_grasps_server)/launch/server.launch"/>

    <include file="$(find baxter_control)/launch/baxter_hardware.launch"/>

    <include file="$(find baxter_moveit_config)/launch/run.launch"/>

    <node name="listen_and_pick" pkg="listen_and_grasp" type="listen_pick.py" />

</launch>